<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KeyBoard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1FBE48D71CDAD44800B2265F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FBE48F01CDAD44800B2265F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FBE48FB1CDAD44800B2265F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
